<!DOCTYPE html>
<html lang="en">
{% load static%}
<head>
    <link href="{%static 'css/main.css'%}" rel="stylesheet"/>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <h2> HELLO!!!!!, {{request.session.name}}</h2>
    <h1>List of questions</h1>
    <a href="{% url 'user:logout'%}">Logout</a>
    {% for q in question_list %}
    <h3><a href="{% url 'qna:details' q.id %}" >title: {{q.title}} </a> </h3>
    <h3>Question description: {{q.question_desc}} </h3>
    Timestamp: {{q.timestamp}} 
    <h4>Votes:  {{q.question_votes}} </h4> 
    <img src="../../media/{{q.question_img}}" width="100px" height="100px"/>
    <br><br>
    <a href="{% url 'qna:update' q.id %}"><button>UPDATE</button></a>
    <a href="{% url 'qna:delete' q.id %}"><button >DELETE</button></a>
    <a href="{% url 'qna:upvote' q.id %}"><button >UPVOTE</button></a>
    
    <br> <br>
    Answer:<br>
    <textarea name="answer" cols="100px" >Enter text here...</textarea>
    <button>Submit</button></a>
    {%endfor%}
    <br><br>
    <a href="{% url 'qna:addquestion' %}"><button >ADD NEW QUESTION</button></a>
</table>
</body>
</html>